body{
    background-color: rgb(94, 86, 150);
    color: azure;

}
#logo{
    margin-top: 15px;
    margin-left: 40px;
    height: 120px;
    width: 120px;
    box-shadow: 10px 5px 10px rgb(46, 19, 126);
    border-radius: 10px;
}
#search-bar{
    display: flex;
    gap: 30px;
    margin: auto;
}
#player{
    background-color: rgba(255,255,255,0.15);
    border: 2px rgba(0,0,0,0.2);
    padding: 8px 15px;
    border-radius: 25px;
    box-shadow: 0 0 8px 8px rgb(49, 49, 128);
    letter-spacing: 1px;
    width: 180px;
    color: white;

}
#player::placeholder{
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: 'Montserrat',sans-serif;

}
#player-search {
    background-color: #5a189a;
    color: #ffffff;
    border: 1px solid #7b2cbf; 
    border-radius: 12px;
    padding: 10px 14px;
    font-size: 18px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    outline: none;

}
#player-search:hover{
    border: 1px solid white;
    box-shadow: 0 0 0 2px white;
}

#filter,#filter2,#filter3 {
    margin: 50px;
    padding: 10px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
    background-color: antiquewhite;
    color: #333;

    border: 2px solid #5a2a5a;
    border-radius: 8px;

    box-shadow: 0 4px 8px rgba(36, 4, 36, 0.3);

    outline: none;
    cursor: pointer;

    transition: all 0.3s ease;
}
#filter:hover{
    border: 5px solid hsl(0, 41%, 28%);
}


